SAVP_AI_HOST=127.0.0.1
SAVP_AI_PORT=8001
SAVP_AI_API_KEY=
SAVP_AI_ENV=development
SAVP_AI_LOG_LEVEL=INFO
SAVP_AI_KNOWLEDGE_PATH=./data/processed
SAVP_AI_INDEX_PATH=./data/indices
SAVP_AI_SEMANTIC_ENABLED=false
SAVP_AI_LOCAL_LLM_ENABLED=false

